<% layout('layouts/boilerplate') -%>

<div class="my-3">
    <span class="h2 font-weight-bold "> <%= reqQuestion.question %> </span>
</div>
<hr>

<div id="infoBlock" class="row" >
    <div class="col">
        <div class="container d-flex justify-content-start align-items-center p-1" >
            <span class="lead"> <%= reqQuestion.answers.length %> answers <span class="blockquote-footer"> Asked on  <%= `${reqQuestion.date} at ${reqQuestion.time}` %> </span> </span>
        </div>
    </div>
    <div class="col">
        <div class="container d-flex justify-content-end align-items-center">
            <% if( currentUser && reqQuestion.authorId == currentUser._id){ %> 
                <form action="/collegeQuora/<%= reqQuestion._id %>?_method=DELETE" method="POST" class="container d-flex justify-content-center align-items-center">
                    <button class="btn btn-sm btn-danger mx-3">DELETE</button>
                    <a href="/collegeQuora/<%= reqQuestion._id %>/edit" class="btn btn-sm btn-primary" role="button" class="btn btn-success rounded-pill " data-bs-toggle="modal" data-bs-target="#editQuestion">Edit</a>
                </form>
            <% } %> 
        </div>
    </div>
</div>

<hr>

<!-- Button trigger modal -->
<div class="d-flex justify-content-center align-items-center mb-5">
    <button type="button" class="btn btn-success rounded-pill " data-bs-toggle="modal" data-bs-target="#addAnswer">
        Answer    
    </button>
</div>
  
<!-- Modal for answer-->
<div class="modal fade" id="addAnswer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Answer :</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/collegeQuora/<%= reqQuestion._id %>/review" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <textarea class="form-control" name="answer" id="answer" cols="15" rows="10" required ></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a valid answer.
                </div>
            </div>
            <div class="modal-footer container d-flex justify-content-center align-items-center">
                <button class="btn btn-success ">Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal for question editing-->
<div class="modal fade" id="editQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Question :</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="my-3 mx-3 validated-form" action="/collegeQuora/<%= reqQuestion._id%>/edit?_method=PUT" method="POST" novalidate>
            <div class="mb-3">
                <label for="question" class="form-label">Question : </label>
                <input type="text" class="form-control" id="question" value="<%= reqQuestion.question %>" name="question[question]" required>
            </div>
            <div class="container d-flex justify-content-center align-items-center mt-2 mb-3">
                <button class="btn btn-primary">DONE</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<% for(let ans of reqQuestion.answers){ %> 
    <div class="card my-2 rounded">
        <div class="card-body">
            <h6 class="card-title font-weight-bold"> <%= ans.author %>  <span class="blockquote-footer"> Answered <%= ans.date %> </span></h6>
            <%= ans.answer %> 

            <% if( currentUser && currentUser._id == ans.authorId){ %> 
                <form action="/collegeQuora/<%= reqQuestion._id %>/review/<%= ans._id %>/delete?_method=DELETE" method="POST">
                    <div class="container d-flex justify-content-end align-items-center">
                        <button class="btn btn-danger btn-sm">DELETE</button>
                    </div>
                </form>
            <% } %> 
        </div>
    </div>
<% } %> 
